# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and DBs (Do not commit large databases or raw data)
data/db/*.duckdb
data/db/*.db
data/raw/
data/processed/
*.csv
*.parquet
*.jsonl

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints
