.venv/
__pycache__/
.pytest_cache/

# Environment variables & Secrets (TUYỆT ĐỐI KHÔNG PUSH)
.env
*.env
!.env.example

# Temporary logs & local runtime cache
inference_log.txt
*.log
*.parquet
submission.zip
