artifacts/preprocessing/indexes/table_corpus.csv filter=lfs diff=lfs merge=lfs -text
artifacts/preprocessing/indexes/bm25_index.pkl filter=lfs diff=lfs merge=lfs -text
artifacts/preprocessing/table_metadata.csv filter=lfs diff=lfs merge=lfs -text
